.offer {
  padding: 120px 0 80px 0;
  &__container {

  }
  &__content {
    margin: -15px;
    &:last-child {
      padding-top: 100px;
    }
  }
}
.offer-block {
  padding: 15px;
  &_style2 {
    padding-top: 110px;
  }
  &__text {
    font-size: 18px;
  }
  .icon {
    height: 70px;
    margin-bottom: 25px;
    &_style1 {
      width: 60px;
    }
    &_style2 {
      width: 80px;
    }
    &_style3 {
      width: 90px;
    }
    &_style4 {
      width: 70px;
    }
  }
}
.offer-block__title {
  .icon {
    height: 1.38em;
    width: 3.6em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media all and(max-width: 1200px) {
  .offer__content:last-child {
    .title_style2 {
      padding-left: 4.5em;
      padding-bottom: 35px;
      padding: 0 0 50px 4.5em;
      line-height: 1.4em;
      .icon {
        margin: 0;
      }
    }
  }
  .offer-block_style2 {
    padding-top: 15px;
  }
  .offer-block_title {
    padding-bottom: 0;
  }
}
@media all and(max-width: 576px) {
  .offer {
    padding: 80px 0;
  }
  .offer__content:last-child {
    padding-top: 80px;
  }
  .offer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    br {
      display: none;
    }
  }
}