@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700&subset=cyrillic');

body {
  text-rendering: optimizeSpeed;
  font: 16px 'Exo 2', sans-serif;
  min-width: 320px;
  color: #000;
  position: relative;
  overflow-x: hidden;
  transition: transform 0.3s;
	min-width: 320px;
	background-color: #fafafa;
	font-weight: 300;
	margin: 0 auto;
}
p {
	line-height: 1.5em;
}
* {
  min-height: 0;
  min-width: 0;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.main {
	margin-top: -125px;
	&_style2 {
		margin: 0;
	}
}
.icon {
	width: 50px;
	height: 50px;
}
.button {
	display: inline-block;
	outline: none;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.3s;
	letter-spacing: 0.1em;
	&_style1 {
		background-color: #fff;
		padding: 15px 80px;
		color: #000;
		border: 0;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
}
.block {
	background-color: #fff;
	padding: 120px 0;
	position: relative;
	&_decorated {
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -7px;
			left: 50%;
			transform: translateX(15px);
			background: url('../img/icons/devide.png') no-repeat center center;
			background-size: 100% 100%;
			width: 130px;
			height: 14px;
			z-index: 2;
		}
	}
}
p {
	margin: 0 0 1em 0;
	&:last-child {
		margin: 0;
	}
}
.title {
	font-size: 36px;
	font-weight: normal;
	position: relative;
	margin: 0;
	padding-bottom: 50px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	line-height: 1.4em;
	.icon {
		height: 1.38em;
		width: 3.6em;
		position: absolute;
		left: 0;
		top: 0;
	}
	&_style1 {
		padding-left: 4.5em;
	}
	&_style2 {
		padding-top: 2.5em;
		line-height: 1.5em;
	}
	&_style3 {
		color: #fff;
	}
}
//fancybox
.fancybox-bg {
	background: #fff;
}
.fancybox-button--zoom,
.fancybox-button--play,
.fancybox-button--thumbs,
.fancybox-infobar {
	display: none !important;
}
.fancybox-button--close {
	background-color: transparent;
	right: 15px;
	top: 15px;
	width: 50px;
	height: 50px;
	padding: 7.5px;
	transition: 0.3s;
	svg {
		width: 35px;
		height: 35px;
	}
	svg path {
		fill: #ccc;
		transition: 0.3s;
	}
	&:hover {
		background: #fff;
		svg path {
			fill: #000;
		}
	}
}
.fancybox-navigation .fancybox-button {
	padding: 0;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid #ccc;
	transition: 0.3s !important;
	svg path {
		transition: 0.3s;
	}
	&:hover {
		background-color: #fff;
		border: 1px solid #000;
		svg path {
			fill: #000;
		}
	}
}
.fancybox-navigation .fancybox-button--arrow_right {
	right: 15px;
	top: calc(50% - 25px);
}
.fancybox-navigation .fancybox-button--arrow_left {
	left: 15px;
	top: calc(50% - 25px);
}

@media all and(max-width: 768px) {
	.title {
		font-size: 30px;
	}
}
@media all and(max-width: 576px) {
	.title {
		font-size: 26px;
		padding: 1.7em 0 25px 0 !important;
		text-align: center;
		.icon {
			left: 50% !important;
			transform: translateX(-50%) !important;
		}
	}
	.button_style1 {
		padding: 15px 30px;
		display: block;
		width: 100%;
	}
	.block {
		padding: 40px 0 !important;
	}
	.block_decorated:after {
		display: none;
	}
}

@import "./partials/header";
@import "./partials/home";
@import "./partials/advantages";
@import "./partials/about";
@import "./partials/services";
@import "./partials/activity";
@import "./partials/gallery";
@import "./partials/partners";
@import "./partials/feedback";
@import "./partials/clients";
@import "./partials/reviews";
@import "./partials/contacts";
@import "./partials/projects";
@import "./partials/directions";
@import "./partials/offer";
@import "./partials/footer";
