doctype html
head
  include blocks/head
body
  include blocks/header
  +header()
    nav.nav.sl--scrollable
      ul.nav__list
        li.nav__item
          a(href="index.html#about").nav__link Компания
        li.nav__item
          a(href="index.html#services").nav__link Услуги
        li.nav__item
          a(href="index.html#gallery").nav__link Мероприятия
        li.nav__item
          a(href="index.html#partners").nav__link Партнеры
        li.nav__item
          a(href="index.html#clients").nav__link Клиенты
        li.nav__item
          a(href="index.html#contacts").nav__link Контакты
  main.main.main_style2
    .projects
      .container
        .projects__container
          .projects__section.projects__section_top
            .projects__head.projects__left
              h2.title.title_style2.projects__title
                svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
                | ARTWAY
              span.projects__subtitle Знакомим мир<br> с русской культурой
            .projects__text.projects__right
              p ARTWAY — это специальный многоцелевой проект компаний Бизнестур, разработанный для организации и сопровождения творческих экспедиций и поездок.  Для нас нет границ – мы работаем как в России,  так и по всему миру!
          .projects__section.projects__section_bottom
            .projects__controls.projects__left
              ul.projects__numbers-list
                li.projects__numbers-item
                  a(href="aw.html").projects__numbers-link.projects__numbers-link_active 04
                li.projects__numbers-item
                  a(href="mice.html").projects__numbers-link 01
              ul.projects__controls-list
                li.projects__controls-item
                  a(href="mice.html").projects__controls-link
                    svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico13"></use>
                li.projects__controls-item
                  a(href="ar.html").projects__controls-link.projects__controls-link_prev
                    svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico13"></use>
            ul.projects__tabs-list.projects__right
              li.projects__tabs-item
                a(href="mice.html").projects__tabs-link MICE
              li.projects__tabs-item
                a(href="st.html").projects__tabs-link SPORT TRAVEL
              li.projects__tabs-item
                a(href="ar.html").projects__tabs-link AMAZING RUSSIA
              li.projects__tabs-item
                a(href="aw.html").projects__tabs-link.projects__tabs-link_active ARTWAY
    include blocks/offer
  include blocks/footer
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="js/libs.min.js")
  script(src="js/common.min.js")