doctype html
head
  include blocks/head
body
  include blocks/header
  include blocks/home
  main.main
    include blocks/advantages
    include blocks/about
    include blocks/services
    include blocks/activity
    include blocks/gallery
    include blocks/partners
    include blocks/feedback
    include blocks/clients
    include blocks/reviews
    include blocks/contacts
  include blocks/footer
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="js/libs.min.js")
  script(src="js/common.min.js")
  script(src="js/main.min.js")
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script(src="js/map.min.js")