.about.block
  .container
    .about__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | КОМПАНИЯ «БИЗНЕСТУР»
      .about__content.row
        .about__section.col-xl-5.col-lg-6.col-sm-12
          p.about__text.about__text_style1 На сегодняшний день компания «Бизнестур» обеспечила прием и размещение участников более двухсот пятидесяти значимых деловых и спортивных мероприятий в отелях Москвы и Санкт-Петербурга.
          .about__images
            img.about__image(src="img/logos/rga.png", alt="")
            img.about__image(src="img/logos/rams.png", alt="")
        .about__section.col-xl-6.col-sm-12
          p.about__text Начиная с 1999 года Казначеева Екатерина Вячеславовна, генеральный руководитель компании ООО "Бизнестур", являлась главным специалистом международно-спортивных программ Общества Дружбы Россия-Финляндия. В рамках работы проводила ежегодный международный хоккейный турнир Кубок Спартака.
          p.about__text В 2007 году под руководством Екатерины была сформирована команда "Бизнестур", работающая в области делового  и спортивного туризма, деятельность компании базируется  на опыте трёх поколений профессиональных специалистов  гостиничного дела в семье Казначеевых. За рекордно короткие  сроки профессиональный подбор членов команды  и целеустремленность - позволили выйти на международный  уровень, стать членом РАМС и Ассоциации Отелей России.