.activity.block.block_decorated
  .container
    .activity__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
      .activity__content.row
        .activity-block.col-xl-3.col-sm-6.col-12
          a(href="#").activity-block__container
            .activity-block__content.activity-block__content_top
              h3.activity-block__title MICE
              p.activity-block__text Мы работаем для того,<br> чтобы работали вы
            .activity-block__image
              img(src="img/images/activity1.jpg", alt="")
        .activity-block.col-xl-3.col-sm-6.col-12
          a(href="#").activity-block__container
            .activity-block__image
              img(src="img/images/activity2.jpg", alt="")
            .activity-block__content.activity-block__content_bottom
              h3.activity-block__title SPORT TRAVEL
              p.activity-block__text Помогаем<br> побеждать
        .activity-block.col-xl-3.col-sm-6.col-12
          a(href="#").activity-block__container
            .activity-block__content.activity-block__content_top
              h3.activity-block__title AMAZING RUSSIA
              p.activity-block__text Познавая Россию -<br> познаешь себя
            .activity-block__image
              img(src="img/images/activity3.jpg", alt="")
        .activity-block.col-xl-3.col-sm-6.col-12
          a(href="#").activity-block__container
            .activity-block__image
              img(src="img/images/activity4.jpg", alt="")
            .activity-block__content.activity-block__content_bottom
              h3.activity-block__title ARTWAY
              p.activity-block__text Знакомим мир<br> с русской культурой