.advantages
  .container
    .advantages__container
      .advantages__content.row
        .advantages-block.col-xl-4.col-sm-6.col-12
          .advantages-block__container
            .advantages-block__icon
              svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico1"></use>
              span.advantages-block__value 1
            p.advantages-block__text «Бизнестур» –  лучший в сфере малого  бизнеса (Министерство Торговли США, 2014 год)
        .advantages-block.col-xl-4.col-sm-6.col-12
          .advantages-block__container
            .advantages-block__icon
              svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico1"></use>
              span.advantages-block__value 1
            p.advantages-block__text «Бизнестур» – 1 место в конкурсе FIFA. Проект STR Sport & Travel in Russia
        .advantages-block.col-xl-4.col-sm-6.col-12
          .advantages-block__container
            .advantages-block__icon
              svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico1"></use>
              span.advantages-block__value 10
            p.advantages-block__text «Бизнестур» – более 10 лет присутствияна российском рынке (с 2007 года)