.clients.block
  .container
    .clients__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | КЛИЕНТЫ
      .clients__content
        button.clients__prev
          svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico13"></use>
        button.clients__next
          svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico13"></use>
        .clients-slider
          .clients-slider__slide
            img(src="img/clients/client1.png", alt="")
            img(src="img/clients/client2.png", alt="")
          .clients-slider__slide
            img(src="img/clients/client3.png", alt="")
            img(src="img/clients/client4.png", alt="")
          .clients-slider__slide
            img(src="img/clients/client5.png", alt="")
            img(src="img/clients/client6.png", alt="")
          .clients-slider__slide
            img(src="img/clients/client7.png", alt="")
            img(src="img/clients/client8.png", alt="")
          .clients-slider__slide
            img(src="img/clients/client9.png", alt="")
            img(src="img/clients/client10.png", alt="")
          .clients-slider__slide
            img(src="img/clients/client11.png", alt="")