.contacts.block
  .container
    .contacts__container
      .contacts__section.contacts__section_content
        .contacts__section-content
          h2.title.title_style2.gallery__title
            svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
            | Контакты
          span.contacts__adress Измайловское шоссе 71,<br> к4 Г-Д, Москва, 105613
          ul.contacts__list
            li.contacts__item
              a(href="tel:74957377101").contacts__link +7 (495) 737 71 01
            li.contacts__item
              a(href="mailto:info@btour.ru").contacts__link info@btour.ru
          .socials
            ul.socials__list
              li.socials__item
                a(href="#").socials__link
                  svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico-facebook"></use>
              li.socials__item
                a(href="#").socials__link
                  svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico-instagram"></use>
              li.socials__item
                a(href="#").socials__link
                  svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico-twitter"></use>
        .contacts__background
      .contacts__section.contacts__section_map
        .map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0795021269782!2d37.745753915392925!3d55.791857396447384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53518a8182e2b%3A0x755623ebbef027c7!2z0JjQt9C80LDQudC70L7QstGB0LrQvtC1INGILiwgNzEsINC6NCwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEwNTYxMw!5e0!3m2!1sru!2sua!4v1553254192356" frameborder="0" style="border:0" allowfullscreen)