.directions.block
  .container
    .directions__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | четыре базовых направления
      .directions__content.row
        .directions-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#meeting"></use>
          span.directions-block__title MEETINGS
          ul.directions-block__list
            li.directions-block__item Корпоративные<br> встречи
            li.directions-block__item Переговоры
            li.directions-block__item Презентации
        .directions-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#incentives"></use>
          span.directions-block__title INCENTIVES
          ul.directions-block__list
            li.directions-block__item Поощрительные или<br> мотивационные туры
            li.directions-block__item Обучение персонала
            li.directions-block__item Корпоративы и праздники
        .directions-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#conferences"></use>
          span.directions-block__title CONFERENCES
          ul.directions-block__list
            li.directions-block__item Конференции<br> и конгрессы
            li.directions-block__item Семинары
            li.directions-block__item Съезды
        .directions-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#exibition"></use>
          span.directions-block__title EXIBITIONS
          ul.directions-block__list
            li.directions-block__item Благотворительные<br> концерты
            li.directions-block__item Выставки
            li.directions-block__item Фестивали
