.feedback.block(id='feedback')
  .container
    .feedback__container
      h2.title.title_style3.feedback__title СВЯЗАТЬСЯ С НАМИ
      form.feedback-form(action="").row
        .feedback-form__group.col-xl-4.col-sm-6.col-12
          input(type="text" placeholder="Имя" required).feedback-form__input
        .feedback-form__group.col-xl-4.col-sm-6.col-12
          input(type="text" placeholder="Email" required).feedback-form__input
        .feedback-form__group.col-xl-4.col-sm-12
          input(type="text" placeholder="Тема" required).feedback-form__input
        .feedback-form__group.col-xl-8.col-sm-12
          textarea(rows="1" placeholder="Сообщение" required).feedback-form__textarea
        .feedback-form__group.col-xl-4.col-sm-12
          button(type='submit').button.button_style1.feedback-form__button ОТПРАВИТЬ

