.gallery.block.block_decorated
  .container
    .gallery__container.row
      .gallery__section.gallery__section_controls
        .gallery__background
        h2.title.title_style2.gallery__title
          svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
          | более 250 деловых и спортивных мероприятий
      .gallery__section.gallery__section_slider