.header
  .container
    .header__container
      .logo
        a(href="#").logo__link
          img(src="img/logos/logo.png", alt="").logo__image
      nav.nav.sl--scrollable
        ul.nav__list
          li.nav__item
            a(href="#").nav__link Компания
          li.nav__item
            a(href="#").nav__link Услуги
          li.nav__item
            a(href="#").nav__link Мероприятия
          li.nav__item
            a(href="#").nav__link Партнеры
          li.nav__item
            a(href="#").nav__link Клиенты
          li.nav__item
            a(href="#").nav__link Контакты
      a(href="#").mobile-button
        span
      span.overlay
          
