mixin header()
  .header
    .container
      .header__container
        .logo
          a(href="index.html").logo__link
            img(src="img/logos/logo.png", alt="").logo__image
        block
        a(href="#").mobile-button
          span
        span.overlay
            
