.home
  .container
    .home__container
      h1.home__title КОМПАНИЯ ДЕЛОВОГО<br> И СПОРТИВНОГО ТУРИЗМА
      p.home__text Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam
      a(href="#").button.button_style1 СВЯЗАТЬСЯ С НАМИ