.offer
  .container
    .offer__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | МЫ ПРЕДЛАГАЕМ
      .offer__content.row
        .offer-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#hotel_2"></use>
          p.offer-block__text Размещение групп<br> в отелях необходимого<br> класса и категории,<br> включая питание любого<br> уровня
        .offer-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style2 <use xlink:href="img/icons/icons-sprite.svg#filming"></use>
          p.offer-block__text Планирование<br> и организация<br> съемок в отелях,<br> как российских,<br> так и зарубежных
        .offer-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style3 <use xlink:href="img/icons/icons-sprite.svg#logistics"></use>
          p.offer-block__text Перевозка оборудования<br> и реквизита в любой регион<br> России или мира – полный<br> комплекс услуг по<br> экспедированию
        .offer-block.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style3 <use xlink:href="img/icons/icons-sprite.svg#optional"></use>
          p.offer-block__text Оптимальное решение<br> по срокам и стоимости<br> с использованием любого<br> вида транспорта (авто,<br> ж.д. или авиа)
      .offer__content.row
        .offer-block.offer-block_title.col-xl-3.col-lg-12
          h2.title.title_style2.offer-block__title
            svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
            | Нашими услугами пользуются
        .offer-block.offer-block_style2.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style4 <use xlink:href="img/icons/icons-sprite.svg#film_group"></use>
          p.offer-block__text Съёмочные<br> группы
        .offer-block.offer-block_style2.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style4 <use xlink:href="img/icons/icons-sprite.svg#music"></use>
          p.offer-block__text Гастролирующие театры и музыкальные коллективы
        .offer-block.offer-block_style2.col-xl-3.col-sm-6.col-12
          svg.icon.icon_style4 <use xlink:href="img/icons/icons-sprite.svg#gallery"></use>
          p.offer-block__text Художественные галереи, организующие выставки