.services.block.block_decorated
  .container
    .services__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | ОСНОВНЫЕ УСЛУГИ
      .services__content.services__content_1.row
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico3"></use>
          span.services-block__text Бронирование<br> номеров и отелей<br> по всему миру
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style2 <use xlink:href="img/icons/icons-sprite.svg#ico4"></use>
          span.services-block__text Планирование<br> и организация<br> мероприятий
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico5"></use>
          span.services-block__text Качественный<br> подбор площадок<br> и отелей
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico6"></use>
          span.services-block__text Организация<br> деловых, культурных<br> и спортивных событий
      .services__content.services__content_2.row
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico7"></use>
          span.services-block__text Трансфер,<br> местная sim-карта
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style2 <use xlink:href="img/icons/icons-sprite.svg#ico8"></use>
          span.services-block__text Визовая<br> поддержка
        .services-block__title.col-xl-6.col-md-12
          h2.title.title_style2
            svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
            | А ТАКЖЕ ПРОГРАММА ПООЩРЕНИЯ КЛИЕНТАМ КОМПАНИИ
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico9"></use>
          span.services-block__text Интересная<br> экскурсионная<br> программа
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico10"></use>
          span.services-block__text Подбор<br> и бронирование <br> авиа и ЖД билетов
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico11"></use>
          span.services-block__text Информационная<br> поддержка 24 часа,<br> 7 дней в неделю
        .services-block.col-xl-3.col-md-4.col-6
          svg.icon.icon_style1 <use xlink:href="img/icons/icons-sprite.svg#ico12"></use>
          span.services-block__text Приветственный<br> завтрак или ужин <br> в отеле проживания